body, html{
    margin: 0;
    padding: 0;
    background: url(https://us.123rf.com/450wm/sonyaillustration/sonyaillustration2011/sonyaillustration201100100/159475771-felt-pen-weather-icons-set.jpg?ver=6)  no-repeat fixed;
    background-size: cover;
  }
  #input{
  background: none;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 2%;
  outline: none;
  font-family: 'Neonderthaw', cursive;
  font-size: 25px;
  text-align: center;
  color: rgb(14, 12, 12);
}
#btn{
  background: none ;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  font-family: 'Neonderthaw', cursive;
  font-size: 25px;
  text-align: center;
  color: rgb(10, 9, 9);
  margin-left: 1%;
}
#output{
    margin-top: 5%;
    width: 100%;
    font-family: 'Neonderthaw', cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(53, 40, 17);
    outline: none;
  
  }